{% extends 'layout.html' %}

{% block body %}
<h2>League Contact Info</h2>

  <p>With much sadness and regret, we have announced that Tommy Figuerido has stepped down as Committee
  Chairman. We are sad and regretful mostly because <b>Ian Dalpe</b> has taken his place... Please email
  <a href="mailto:edub0721@yahoo.com">Ian</a> with any questions or concerns.</p>
  
  <p>If you feel like complaining about the website to someone who doesn't care, Drew Marchand is your guy!
   (That's me.) You can reach me <a href="mailto:drew.marchand@gmail.com">here</a>.</p>
{% endblock %}