{% extends 'layout.html' %}

{% block body %}
<h2>League Contact Info</h2>

  <p>And another one bites the dust. Ian Dalpe thinks his family is more important than volleyball...
     or something... So has stepped down as Committee Chairman. Please join me in welcoming his reluctant
     replacemet <b>Mike Giuliano</b>! Please email
  <a href="mailto:mmg7788@gmail.com">Mike</a> with your questions or concerns.</p>
  
  <p>If you feel like complaining about the website to someone who doesn't care, Drew Marchand is your guy!
   (That's me.) You can reach me <a href="mailto:drew.marchand@gmail.com">here</a>.</p>
{% endblock %}