{% extends 'layout.html' %}

{% block body %}
<h2>Welcome to The John Pietropaoli Volleyball League</h2>
    <div class="image_wrapper image_fl"><span></span><img src="/static/images/logo.gif" alt="" /></div>
    <h3>Spring 2017 Session</h3>
        <p>Welcome to all of the new players this session! Thanks for coming out!</p>
        <p>The Teams and Schedule for the Spring 2017 Session have been posted!</p>
        <!-- <p><b>Sportsmanship Award voting is live! Cast your vote <a href="sportsmanship">here</a></b></p> -->
        <div class="cleaner h30"></div>
    <div class="col_w320 float_l">
    <h3>Announcements</h3>
    <ul class="templatemo_list">
      <li>A gentle reminder to please pay your league and membership fees at the front desk. You can't play in the
      playoffs if you don't pay. No exceptions. Please see the front desk staff if you'd like to set up a payment plan.</li>
      <li>Join us at <a href="http://cirostavern.com/" title="Ciro's Tavern on Cherry"
          style="text-decoration: underline;">Ciro's</a>
        after your match every week! Eat, drink and be merry with some
        good people. All the cool kids are doing it.</li>
      <li>Don't forget to vote for the <a href="sportsmanship" >Sportsmanship Award!</a></li>
    </ul>
    </div>
    <div class="col_w320 float_r">
    <h3>Congrats to the Champs!</h3>
        <div class="image_wrapper image_fl"><span></span><img style="height:198px;width:297px" alt="" 
            src="/static/images/jpSpring2016Champs.jpg" /></div>
        <p>Say hello to your 2016 Spring Session winners! Congrats! From left to right: Brian Reifler,
            Mary Garzoli, Brian Galipeau, Lauren Strick, Tommy Figuerido and Ian Dalpe (Yes, Ian rigged
            the whole thing.)</p>
        </div>
{% endblock %}