{% extends 'layout.html' %}

{% block body %}
          <h2>Standings - Fall 2018</h2>
          	<h3>Overall</h3>
            <div class="col_w220 float_l">
              <h4>Team 1</h4>
              <h5>&nbsp;&nbsp;10 Wins - 14 Losses</h5>
            </div>
            <div class="col_w220 float_l">
              <h4>Team 2</h4>
              <h5>&nbsp;&nbsp;10 Wins - 14 Losses</h5>
            </div>
            <div class="col_w220 float_l">
              <h4>Team 3</h4>
              <h5>&nbsp;&nbsp;16 Wins - 8 Losses</h5>
            </div>
            <div class="col_w220 float_l">
              <h4>Team 4</h4>
              <h5>&nbsp;&nbsp;11 Wins - 13 Losses</h5>
            </div>
            <div class="col_w220 float_l">
              <h4>Team 5</h4>
              <h5>&nbsp;&nbsp;10 Wins - 14 Losses</h5>
            </div>
            <div class="col_w220 float_l">
              <h4>Team 6</h4>
              <h5>&nbsp;&nbsp;15 Wins - 9 Losses</h5>
            </div>
<!--
            <div class="col_w220 float_l">
              <h4>Team 7</h4>
              <h5>&nbsp;&nbsp;0 Wins - 0 Losses</h5>
            </div>
-->
          <div class="cleaner h30"></div>
          <h3>Scores</h3>
          <div class="col_w220 float_l">
            <h4>Week 1</h4>
            <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;22 - 25 - 17&nbsp;|&nbsp;2/1</p>
            <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;21 - 23 - 25&nbsp;|&nbsp;1/2</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;24 - 25 - 14&nbsp;|&nbsp;1/2</p>
            <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;26 - 20 - 25&nbsp;|&nbsp;2/1</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;15 - 16 - 25&nbsp;|&nbsp;1/2</p>
            <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;25 - 25 - 21&nbsp;|&nbsp;2/1</p>
          </div>
          <div class="col_w220 float_l">
            <h4>Week 2</h4>
            <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 16 - 15&nbsp;|&nbsp;2/1</p>
            <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;17 - 25 - 20&nbsp;|&nbsp;1/2</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;21 - 24 - 25&nbsp;|&nbsp;1/2</p>
            <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;25 - 26 - 21&nbsp;|&nbsp;2/1</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;25 - 25 - 18&nbsp;|&nbsp;2/1</p>
            <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;11 - 18 - 25&nbsp;|&nbsp;1/2</p>
          </div>
          <div class="col_w220 float_l">
            <h4>Week 3</h4>
            <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;20 - 25 - 9 &nbsp;|&nbsp;1/2</p>
            <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 19 - 25&nbsp;|&nbsp;2/1</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
            <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;20 - 23 - 23&nbsp;|&nbsp;0/3</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;25 - 16 - 25&nbsp;|&nbsp;2/1</p>
            <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;20 - 25 - 18&nbsp;|&nbsp;1/2</p>
          </div>
          <div class="cleaner h30"></div>
          <div class="col_w220 float_l">
            <h4>Week 4</h4>
            <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;11 - 16 - 25&nbsp;|&nbsp;1/2</p>
            <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;25 - 25 - 23&nbsp;|&nbsp;2/1</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;16 - 18 - 27&nbsp;|&nbsp;1/2</p>
            <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 25 - 26&nbsp;|&nbsp;2/1</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;2/1</p>
            <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;22 - 27 - 19&nbsp;|&nbsp;1/2</p>
          </div>
          <div class="col_w220 float_l">
            <h4>Week 5</h4>
            <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;21 - 22 - 18&nbsp;|&nbsp;0/3</p>
            <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;25 - 25 - 23&nbsp;|&nbsp;2/1</p>
            <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;22 - 23 - 25&nbsp;|&nbsp;1/2</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;15 - 25 - 18&nbsp;|&nbsp;1/2</p>
            <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;25 - 15 - 25&nbsp;|&nbsp;2/1/p>
          </div>
          <div class="col_w220 float_l">
            <h4>Week 6</h4>
            <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;19 - 19 - 18&nbsp;|&nbsp;0/3</p>
            <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;25 - 25 - 21&nbsp;|&nbsp;1/2</p>
            <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;19 - 27 - 25&nbsp;|&nbsp;2/1</p>
            <p>------------------------------------------</p>
            <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 25 - 26&nbsp;|&nbsp;3/0</p>
            <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;19 - 21 - 24&nbsp;|&nbsp;0/3</p>
            </div>
          <div class="cleaner h30"></div>
            <div class="col_w220 float_l">
            <h4>Week 7</h4>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;20 - 18 - 23&nbsp;|&nbsp;0/3</p>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 25 - 20&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;18 - 16 - 25&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;18 - 23 - 25&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;25 - 25 - 23&nbsp;|&nbsp;2/1</p>
            </div>
            <div class="col_w220 float_l">
            <h4>Week 8</h4>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;18 - 25 - 22&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;25 - 22 - 25&nbsp;|&nbsp;2/1</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;25 - 23 - 22&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;19 - 25 - 25&nbsp;|&nbsp;2/1</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;19 - 22 - 20&nbsp;|&nbsp;0/3</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
            </div>
<!--
            <div class="col_w220 float_l">
            <h4>Week 9</h4>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;27 - 21 - 19&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;26 - 25 - 25&nbsp;|&nbsp;2/1</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;27 - 23 - 25&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;25 - 25 - 10&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;13 - 25 - 25&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 23 - 11&nbsp;|&nbsp;1/2</p>
            </div>
           <div class="cleaner h30"></div>
           <div class="col_w220 float_l">
            <h4>Week 10</h4>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;21 - 25 - 27&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;25 - 22 - 26&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;20 - 19 - 22&nbsp;|&nbsp;0/3</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;20 - 25 - 25&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 7&nbsp;|&nbsp;25 - 19 - 17&nbsp;|&nbsp;1/2</p>
            </div>
            <div class="col_w220 float_l">
              <h4>Week 11</h4>
                <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
                <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;16 - 17 - 22&nbsp;|&nbsp;0/3</p>
                <p>------------------------------------------</p>
                <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;22 - 19 - 25&nbsp;|&nbsp;1/2</p>
                <p>&nbsp;&nbsp;Team 7&nbsp;|&nbsp;25 - 25 - 23&nbsp;|&nbsp;2/1</p>
                <p>------------------------------------------</p>
                <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;17 - 21 - 25&nbsp;|&nbsp;2/1</p>
                <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 25 - 20&nbsp;|&nbsp;1/2</p>
            </div>
          -->
{% endblock %}