{% extends 'layout.html' %}

{% block body %}
          <h2>Standings - Winter2018</h2>
          	<h3>Overall</h3>
            <div class="col_w220 float_l">
              <h4>Team 1</h4>
              <h5>&nbsp;&nbsp;13 Wins - 11 Losses</h5>
            </div>
            <div class="col_w220 float_l">
              <h4>Team 2</h4>
              <h5>&nbsp;&nbsp;10 Wins - 14 Losses</h5>
            </div>
            <div class="col_w220 float_l">
              <h4>Team 3</h4>
              <h5>&nbsp;&nbsp;16 Wins - 8 Losses</h5>
            </div>
            <div class="col_w220 float_l">
              <h4>Team 4</h4>
              <h5>&nbsp;&nbsp;8 Wins - 16 Losses</h5>
            </div>
            <div class="col_w220 float_l">
              <h4>Team 5</h4>
              <h5>&nbsp;&nbsp;17 Wins - 8 Losses</h5>
            </div>
            <div class="col_w220 float_l">
              <h4>Team 6</h4>
              <h5>&nbsp;&nbsp;8 Wins - 16 Losses</h5>
            </div>
<!--            
            <div class="col_w220 float_l">
              <h4>Team 7</h4>
              <h5>&nbsp;&nbsp;0 Wins - 0 Losses</h5>
            </div>
-->
          <div class="cleaner h30"></div>
          <h3>Week-by-Week</h3>
            <div class="col_w220 float_l">
            <h4>Week 1</h4>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;22 - 25 - 26&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;25 - 23 - 24&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;10 - 20 - 18&nbsp;|&nbsp;0/3</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;16 - 25 - 25&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;25 - 17 - 22&nbsp;|&nbsp;1/2</p>
            </div>
            <div class="col_w220 float_l">
            <h4>Week 2</h4>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;22 - 26 - 27&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 24 - 26&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;25 - 25 - 24&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;20 - 17 - 26&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;20 - 16 - 13&nbsp;|&nbsp;0/3</p>
          </div>
          <div class="col_w220 float_l">
            <h4>Week 3</h4>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;20 - 24 - 20&nbsp;|&nbsp;0/3</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 26 - 25&nbsp;|&nbsp;3/0</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;25 - 21 - 25&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;19 - 25 - 17&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;25 - 17 - 25&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;19 - 25 - 17&nbsp;|&nbsp;1/2</p>
          </div>
          <div class="cleaner h30"></div>
          <div class="col_w220 float_l">
              <h4>Week 4</h4>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 25 - 21&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;19 - 15 - 25&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;22 - 25 - 18&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 19 - 25&nbsp;|&nbsp;2/1</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;25 - 22 - 23&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;22 - 25 - 25&nbsp;|&nbsp;2/1</p>
          </div>
          <div class="col_w220 float_l">
            <h4>Week 5</h4>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;21 - 19 - 19&nbsp;|&nbsp;0/3</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;21 - 26 - 25&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 24 - 27&nbsp;|&nbsp;2/1</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;25 - 23 - 25&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;21 - 25 - 22&nbsp;|&nbsp;1/2</p>
          </div>
          <div class="col_w220 float_l">
            <h4>Week 6</h4>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;16 - 19 - 13&nbsp;|&nbsp;0/3</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;16 - 25 - 25&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;25 - 16 - 27&nbsp;|&nbsp;2/1</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 25 - 21&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;23 - 20 - 25&nbsp;|&nbsp;1/2</p>
            </div>
            <div class="cleaner h30"></div>
            <div class="col_w220 float_l">
            <h4>Week 7</h4>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;25 - 14 - 23&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;21 - 25 - 25&nbsp;|&nbsp;2/1</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;18 - 25 - 10&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 23 - 25&nbsp;|&nbsp;2/1</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;16 - 20 - 25&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;25 - 25 - 15&nbsp;|&nbsp;2/1</p>
            </div>
            <div class="col_w220 float_l">
            <h4>Week 8</h4>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;25 - 25 - 23&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;19 - 13 - 25&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;25 - 19 - 21&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;19 - 25 - 25&nbsp;|&nbsp;2/1</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;27 - 21 - 15&nbsp;|&nbsp;1/2</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;26 - 25 - 25&nbsp;|&nbsp;2/1</p>
            </div>
<!--
            <div class="col_w220 float_l">
            <h4>Week 9</h4>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;25 - 17 - 25&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;21 - 25 - 21&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
              <p>&nbsp;&nbsp;Team 7&nbsp;|&nbsp;15 - 13 - 16&nbsp;|&nbsp;0/3</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;16 - 25 - 16&nbsp;|&nbsp;0/3</p>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;25 - 27 - 25&nbsp;|&nbsp;3/0</p>
            </div>
           <div class="cleaner h30"></div>
           <div class="col_w220 float_l">
            <h4>Week 10</h4>
              <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;21 - 25 - 27&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;25 - 22 - 26&nbsp;|&nbsp;1/2</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
              <p>&nbsp;&nbsp;Team 6&nbsp;|&nbsp;20 - 19 - 22&nbsp;|&nbsp;0/3</p>
              <p>------------------------------------------</p>
              <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;20 - 25 - 25&nbsp;|&nbsp;2/1</p>
              <p>&nbsp;&nbsp;Team 7&nbsp;|&nbsp;25 - 19 - 17&nbsp;|&nbsp;1/2</p>
            </div>
            <div class="col_w220 float_l">
              <h4>Week 11</h4>
                <p>&nbsp;&nbsp;Team 3&nbsp;|&nbsp;25 - 25 - 25&nbsp;|&nbsp;3/0</p>
                <p>&nbsp;&nbsp;Team 4&nbsp;|&nbsp;16 - 17 - 22&nbsp;|&nbsp;0/3</p>
                <p>------------------------------------------</p>
                <p>&nbsp;&nbsp;Team 1&nbsp;|&nbsp;22 - 19 - 25&nbsp;|&nbsp;1/2</p>
                <p>&nbsp;&nbsp;Team 7&nbsp;|&nbsp;25 - 25 - 23&nbsp;|&nbsp;2/1</p>
                <p>------------------------------------------</p>
                <p>&nbsp;&nbsp;Team 2&nbsp;|&nbsp;17 - 21 - 25&nbsp;|&nbsp;2/1</p>
                <p>&nbsp;&nbsp;Team 5&nbsp;|&nbsp;25 - 25 - 20&nbsp;|&nbsp;1/2</p>
            </div>
          -->
{% endblock %}