{% extends 'layout.html' %}

{% block body %}
          <h2>Teams - Spring 2017</h2>
            <div class="col_w220 float_l">
              <h3>Team 1</h3>
                <ul class="templatemo_list">
                  <li>John Tarnuzzer</li>
                  <li>Brian Schneider</li>
                  <li>Ryan Dupuis</li>
                  <li>Drew Marchand</li>
                  <li>Jenn Galipeau</li>
                  <li>Artie White</li>
                </ul>
            </div>
            <div class="col_w220 float_l">
              <h3>Team 2</h3>
                <ul class="templatemo_list">
                  <li>Bryan Lowe</li>
                  <li>Jeremy Wall</li>
                  <li>Tommy Figuerido</li>
                  <li>Jane Wells</li>
                  <li>Ashley Wall</li>
                  <li>Scott Hampson</li>
                </ul>
            </div>
            <div class="col_w220 float_l">
              <h3>Team 3</h3>
                <ul class="templatemo_list">
                  <li>Alex Roskowski</li>
                  <li>Mike Giuliano</li>
                  <li>Ian Dalpe</li>
                  <li>Sean Hoyle</li>
                  <li>Jody Figuerido</li>
                  <li>Michelle Morin</li>
                </ul>
            </div>
          <div class="cleaner h30"></div>
            <div class="col_w220 float_l">
              <h3>Team 4</h3>
                <ul class="templatemo_list">
                  <li>Tom Marcoux</li>
                  <li>Drew O'Donnell</li>
                  <li>Al Leclair</li>
                  <li>Vanessa Normandin</li>
                  <li>Pat Sylvestre</li>
                  <li>Lauren Fatse</li>
                </ul>
            </div>
            <div class="col_w220 float_l">
              <h3>Team 5</h3>
                <ul class="templatemo_list">
                  <li>Brian Galipeau</li>
                  <li>Sean Whittle</li>
                  <li>Brian Davidge</li>
                  <li>Paul Macrina</li>
                  <li>Same Archambeault</li>
                  <li>Madi Royer</li>
                </ul>
            </div>
            <!--
            <div class="col_w220 float_l">
				    <h3>Team 6</h3>
                <ul class="templatemo_list">
                  <li>Geoff Vincelette</li>
                  <li>Zach Dalton</li>
                  <li>Ryan Dupius</li>
                  <li>Mary Garzoli</li>
                  <li>Jody Figuerido</li>
                  <li>Scott Hampson</li>
                </ul>
            </div>
            -->
{% endblock %}