{% extends 'layout.html' %}

{% block body %}
          <h2>Teams - Fall 2017</h2>
            <div class="col_w220 float_l">
              <h3>Team 1</h3>
                <ul class="templatemo_list">
                  <li>Josh Laboissonniere</li>
                  <li>Zach Dalton</li>
                  <li>Sean Whittle</li>
                  <li>Tommy Figuerido</li>
                  <li>Vanessa Normandin</li>
                  <li>Scott Hampson</li>
                </ul>
            </div>
            <div class="col_w220 float_l">
              <h3>Team 2</h3>
                <ul class="templatemo_list">
                  <li>Andrew Fox</li>
                  <li>Mike Giuliano</li>
                  <li>Brian Davidge</li>
                  <li>Monica Alexio</li>
                  <li>Carlos Desousa</li>
                  <li>Artie White</li>
                </ul>
            </div>
            <div class="col_w220 float_l">
              <h3>Team 3</h3>
                <ul class="templatemo_list">
                  <li>Brian Galipeau</li>
                  <li>Walker Strick</li>
                  <li>Kenny Villa</li>
                  <li>Paul Macrina</li>
                  <li>Jen Prentice</li>
                  <li>Lauren Fatse</li>
                </ul>
            </div>
          <div class="cleaner h30"></div>
            <div class="col_w220 float_l">
              <h3>Team 4</h3>
                <ul class="templatemo_list">
                  <li>Alex Roscowski</li>
                  <li>John Tarnuzzer</li>
                  <li>Ian Dalpe</li>
                  <li>Pam Legare</li>
                  <li>Pat Sylvestre</li>
                  <li>Vickie Walters</li>
                </ul>
            </div>
            <div class="col_w220 float_l">
              <h3>Team 5</h3>
                <ul class="templatemo_list">
                  <li>Tom Marcoux</li>
                  <li>Tim Kounlavauth</li>
                  <li>Emerson Brown</li>
                  <li>Drew Marchand</li>
                  <li>Alwx Tannock</li>
                  <li>Rob Rock</li>
                </ul>
            </div>
            <div class="col_w220 float_l">
                <h3>Team 6</h3>
                <ul class="templatemo_list">
                  <li>Brian Burnham</li>
                  <li>Drew O'Donnell</li>
                  <li>Kasey Cameron</li>
                  <li>Shawn Hoyle</li>
                  <li>Nick Mainville</li>
                  <li>Michelle Morin</li>
                </ul>
            </div>
            <div>
            <h3>Team 7</h3>
                <ul class="templatemo_list">
                  <li>Brian Lowe</li>
                  <li>Geoff Vincelette</li>
                  <li>Ryan Dupius</li>
                  <li>Alan Leclaire</li>
                  <li>Danielle DaSilva</li>
                  <li>Madi Royer</li>
                </ul>
            </div>
            
{% endblock %}